@import "tailwindcss";

@theme {
  --color-primary: #1C1957;
  --color-secondary: #CFCCFB;
  --color-accent: #aea9ef;

  --color-white: #ffffff;

  --color-background: #f6f6f6;
  --color-background-header: #efedf6;

  --color-button-primary: #cfccfb;
  --color-button-secondary: #e5e7eb;
  --color-button-border: #1c1957;

  --color-text-primary: #000;
  --color-text-secondary: #717171;

}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-background);
  color: var(--color-text-primary);
  /* font-family: Arial, Helvetica, sans-serif; */
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}