# MONGODB CONNECTION
DATABASE_PASSWORD=23dc...
DATABASE_URI=mongodb+srv://...:<PASSWORD>...

# SERVER CONFIGURATION
PORT=3001
NODE_ENV=development

#JWT
JWT_SECRET=bsb...
JWT_EXPIRES=90d
JWT_COOKIE_EXPIRES_IN=90

#GOOGLE
GOOGLE_CLIENT_ID=vsie...
GOOGLE_CLIENT_SECRET=t26zxj....